[submodule "java-spring/live-stream"]
path = java-spring/live-stream
url = https://github.com/ooMia/live-stream
[submodule "forge-project/lib/forge-std"]
	path = forge-project/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "forge-project/lib/openzeppelin-contracts"]
	path = forge-project/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
